<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Help-Desk Project</title>

</head>

<body>
    {% if request.user.is_customer %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HELP-DESK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-ticket' %}">Create Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'all-tickets' %}">View Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1"
                            aria-disabled="true">{{request.user.username}}</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary me-2">Logout</a>

            </div>
        </div>
    </nav>

    {% elif request.user.is_manager %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HELP-DESK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'ticket-queue' %}">Ticket Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'workspace' %}">Workspace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'all-closed-tickets' %}">Closed Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'locked-accounts' %}">View Locked Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1"
                            aria-disabled="true">{{request.user.username}}</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary me-2">Logout</a>

            </div>
        </div>
    </nav>

    {% endif%}

    <div class="container mt-5">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} mx-auto" role="alert">
            <b>{{message}}</b>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMF1zcLA8N1+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    </div>
</body>

</html>